:root{
    --customBlue: #0a6acb;
    --customRed: #ea3546;
    --customGreen: #2a9134;
    --customBrown: #bc6c25;
    --customViolet: #6a00f4;
    --customLightViolet: #9b5de5;
    --customYellow: #ffc43d;
    --customDarkPurple: #540d6e;
    --customAlabaster: #ebebd3;
    --customLightBlue: #1e90ff;
}