:root{
    --customBlue: #0a6acb;
    --customRed: #ea3546;
    --customGreen: #2a9134;
    --donaldTrump: #f86624;
    --customViolet: #6a00f4;
    --customYellow: #ffc43d;
    --customLaguna: #2ec4b6;
    --customAlabaster: #ebebd3;
}