#createdBy{
text-align: center;
    font-size: 450%;
}
.creators{
    font-size: 250%;
    text-align: center;
    margin-top: 15%;
}
#back{
    background-color: white;
    width: 10%;
    padding: 1%;
    border-radius: 30px;
    text-align: center;
    font-size: 140%;
    color: black;
    margin-left: 60%;
}
.creatorsContainer{
    background-color: dodgerblue;
    width: 40%;
    height: 25em;
    text-align: center;
    margin: 1% auto;
    color: white;
}