body{
    background: bisque;
}
.questionContainer{
    background-color: crimson;
    width: 40%;
    height: 15em;
    margin: auto;
    text-align: center;
    margin-top: 4%;
    margin-bottom: 7%;
}
.question{

}
.answersContainer{
    width: calc(100% - 250px);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2%;
    margin: auto;
}
#answer1{
    background-color: aqua;
    width: 75%;
    padding: 15% 0;
    border-radius: 30px;
    text-align: center;

}
#answer2{
    background-color: blueviolet;
    width: 75%;
    padding: 15% 0;
    border-radius: 30px;
    text-align: center;
}
#answer3{
    background-color: chartreuse;
    width: 75%;
    padding: 15% 0;
    border-radius: 30px;
    text-align: center;
}
#answer4{
    background-color: darkgoldenrod;
    width: 75%;
    padding: 15% 0;
    border-radius: 30px;
    text-align: center;
}
.pointsCounter{
    background-color: darkgoldenrod;
    width: 200%;
    padding: 30px 0;
    text-align: center;
}
.topBar{
    background-color: fuchsia;
    padding: 1% 0;
    width: calc(100% - 10%);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20%;
    margin: auto;
    padding-left: 10%;
}
.questionNumber{
    background-color: mediumvioletred;
    width: 200%;
    padding: 30px 0;
    text-align: center;
}
.timer{
    background-color: darkgreen;
    width: 200%;
    padding: 30px 0;
    text-align: center;
}