body{
    background-image: url(../images/tlo1.jpg);
}
.questionContainer{
    background-color: dodgerblue;
    width: 40%;
    height: 25em;
    text-align: center;
    margin: 1% auto;
    color: white;
}
.question{

}
.answersContainer{
    width: calc(100% - 25%);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2%;
    margin: auto;
}
#answer1{
    background-color: red;
    width: 75%;
    padding: 15% 0;
    border-radius: 30px;
    text-align: center;
    font-size: 140%;
    color: white;
}
#answer2{
    background-color: blue;
    width: 75%;
    padding: 15% 0;
    border-radius: 30px;
    text-align: center;
    font-size: 140%;
    color: white;
}
#answer3{
    background-color: darkorange;
    width: 75%;
    padding: 15% 0;
    border-radius: 30px;
    text-align: center;
    font-size: 140%;
    color: white;
}
#answer4{
    background-color: green;
    width: 75%;
    padding: 15% 0;
    border-radius: 30px;
    text-align: center;
    font-size: 140%;
    color: white;
}
.pointsCounter{
    width: 200%;
    padding: 30px 0;
    text-align: center;
}
.topBar{
    background-image: url(../images/tlo2.jpg);
    width: calc(100% - 40%);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20%;
    margin: auto;
    padding: 1% 0 1% 10%;
    font-size: 160%;
}
.questionNumber{
    width: 200%;
    padding: 30px 0;
    text-align: center;
}
.timer{
    width: 200%;
    padding: 20px 0;
    text-align: center;
}
.endingScreen{
    background-color: dodgerblue;
    width: 40%;
    height: 25em;
    text-align: center;
    color: white;
    margin: 15% auto 1%;
}
.innerEndingScreen{
    padding: 15%;
}
#toHighscores{
    background-color: white;
    width: 10%;
    padding: 1%;
    border-radius: 30px;
    text-align: center;
    font-size: 140%;
    color: black;
    margin-left: 60%;
}