body{
    background-color: var(--customYellow);
}
.questionContainer{
    background-color: var(--customLightBlue);
    width: 40%;
    height: 25em;
    text-align: center;
    margin: 1% auto;
    color: var(--customAlabaster);
}
.answersContainer{
    width: calc(100% - 25%);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2%;
    margin: auto;
}
#answer1{
    background-color: var(--customGreen);
    width: 75%;
    padding: 15% 0;
    border-radius: 30px;
    text-align: center;
    font-size: 140%;
    color: var(--customAlabaster);
}
#answer2{
    background-color:  var(--customDarkPurple);
    width: 75%;
    padding: 15% 0;
    border-radius: 30px;
    text-align: center;
    font-size: 140%;
    color: var(--customAlabaster);
}
#answer3{
    background-color: var(--customRed);
    width: 75%;
    padding: 15% 0;
    border-radius: 30px;
    text-align: center;
    font-size: 140%;
    color: var(--customAlabaster);
}
#answer4{
    background-color: var(--customBrown);
    width: 75%;
    padding: 15% 0;
    border-radius: 30px;
    text-align: center;
    font-size: 140%;
    color: var(--customAlabaster);
}
.pointsCounter{
    width: 200%;
    padding: 30px 0;
    text-align: center;
}
.topBar{
    background-color: var(--customViolet);
    width: calc(100% - 40%);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20%;
    margin: auto;
    padding: 1% 0 1% 10%;
    font-size: 160%;
}
.questionNumber{
    width: 200%;
    padding: 30px 0;
    text-align: center;
}
.timer{
    width: 200%;
    padding: 20px 0;
    text-align: center;
}
.endingScreen{
    background-color: var(--customLightBlue);
    width: 40%;
    height: 80%;
    text-align: center;
    color: var(--customAlabaster);
    margin: 0.5% auto 1%;
}
.innerEndingScreen{
    padding: 5%;
}
#toHighscores{
    background-color: var(--customRed);
    width: 10%;
    padding: 1%;
    border-radius: 30px;
    text-align: center;
    font-size: 140%;
    color: var(--customAlabaster);
    margin-left: 30%;
    margin-top: 0.5%;
}
#question{
    text-align: center;
    margin-top: 25%;
}
#app{
    padding-top: 20%;
}
#username{
    font-size: 150%;
}
#toMainMenu{
    background-color: var(--customRed);
    width: 10%;
    padding: 1%;
    border-radius: 30px;
    text-align: center;
    font-size: 140%;
    color: var(--customAlabaster);
    margin-left: 60%;
}
.highScoreScreen{
    background-color: var(--customLightBlue);
    width: 40%;
    height: 820%;
    text-align: center;
    color: var(--customAlabaster);
    padding: 2%;
    margin: 5% auto 1%;
}
.innerHighScoreScreen{
    padding: 5%;
    margin-bottom: 30%;
}